{% extends "account/base.html" %}

{% load i18n %}

<!--{% block head_title %}{% trans "Signup" %}{% endblock %}-->
{% block head_links %} 

<title>Signup</title>

{% endblock %}

{% block content %}
<div class="container-fluid">

 

<div class="center">
  <div class="bus_icon">
  <h1>Signup</h1>
</div>
<form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
{% load  static  %}
<div class="text_field text_fieldclone">
  {{ form.as_p }}
</div>

  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="btn btn-primary btn-lg btn-block" id="signup" type="submit">{% trans "Sign Up" %}</button>
  {% blocktrans %}Already have an account? Then  <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
</form>

</div>

{% endblock %}
