{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
{% user_display user as user_display %}
<div class="container-fluid text-center ">

<h3 class="h3" id="head_banner"><div class="whitec">Already Logged in!</div></h3>
<p class="forgot_password_info" >You are already logged in as <h1 class="display-3"><div class="whitec"> {{ user_display }}</div></h1>.</p>
<a class="btn btn-success" id="custom_logout_no" href="/accounts/profile/">Back to Profile</a>

</div>

{% endblock %}