body {
    margin:0;
    padding: 0;
    font-family: montsrrat;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    background: white;
  
  }
  
  .center h1{
    text-align:center;
    padding:0 0 20px 0;

    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
  }   
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .text_field{
    position:relative;
    
    margin: 30px 0;
  }
 
 
 
  
  .pass{
    margin: -5px 0 20px 5px;
    color:green;
    cursor: pointer;
  }
  .pass:hover
  {
    color:red;
  }
  
  .signin{
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
  }
  h2{
    text-align:center;
  }
  .bus_icon i{
    color: rgb(113, 1, 133);
  }

.text_field  label{
  display:none;
}
#id_remember{
  display: none;
}
/*shsh*/
.text_field input{
  border:1px solid #0066ff;
  width:80%;
  margin-left: 25px;
  height:40px;
  border-radius: 5px;
}
.text_fieldclone input
{
  margin-left: 5px;
}
.forgot_password_info{
  color:white;
  font-weight: 300;
  font-size: 20px;
}
.email input{
margin-left: 1px;
width:100%;
}
.whitec{
  color:white;
  font-size: 20px;
  
}
.confirm_logout_info{
  margin-left:38%;
}
@media (max-width: 858px){
  .confirm_logout_info{
    margin-left:10%;
  }
}