{% load static %}
<html>
<head>
    <meta charset="UTF-8">
  
     <link rel="stylesheet" href={% static 'style/helpage.css' %}>
   
     
      
 
    </head>
    
    <body>
        <header>
            <div class="container">
       <h1><u>HELP?</u></h1> 
       <p>New to our site?lets help you ease your confusion.</p>
            </div>
        </header>
        <img style="margin-left:60px" src="{% static 'images/picku.jpg' %}">
        <p>follow these simple 4 steps to find your ideal travel.</p>
        
        <h2><u> 1.Source</u></h2>
        Enter your <span style="color: red"> current location</span>,at the source section.
        <h2><u>2.Destination</u></h2>
        Enter the<span style="color: red"> desired location</span>, you want to reach from your source.
        <h2><u>3.Time</u></h2>
        Select your desired time to reach your location,
        your can <span style="color: red">either type or select manually by 
            clicking on the clock icon.</span>
        <h2><u>4.Submit</u></h2>
        Once the following 3 elements are filled <span style="color: red">just click on the submit button.</span>
            You are one step away from your service.
        <h2><u>4.Diaplay All</u></h2>
        Displays all the travels available<span style="color: red">on a particular day to ones choice</span>
           
    </body>
    
</html>