{% load account %}
{% load static %}
{% load custom_tags %}
<html>

<head>
    <link rel="stylesheet" href={% static 'style/homepage30.css' %}>
    <title>GO_Bus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
     <script src={% static 'js/autosugest3.js' %}></script>
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>



<body>

<!--{{helo|upper}}-->

 <!-- <a href={% url 'search' %}>upadte</a>-->
    <nav class="section">
        <input onclick="myfun()" type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars "></i>
 
        </label>
        <div class="logo"> <img  style="height:75px; margin-left:20px;float:left; width:220px; margin-top:5px " src="{% static 'images/logo3.png' %}"></div></div>


        <ul>
            <li>
                <a href="contact_us">
                    CONTACT_US
                </a>
            </li>
            <li>
                {% if user.is_authenticated %}
                <a href="/accounts/logout">LOGOUT</a>
                {% else %}
                <a href="/accounts/login">SIGNIN</a>
                {% endif %}
            
            </li>
            <li>
                <a href="{% url 'please_help' %}" >HELP</a>
            </li>
            <li>
                <a href="{% url 'feedback' %}">FEEDBACK</a>
            </li>

           <!-- <li class="userlabel">
                <i class="fas fa-user"></i>
               
            </li>-->
            {% if user.is_superuser %}
           <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li> <a class="usericon">
                       <i class="fa fa-user"  style="font-size:25px" aria-hidden="true"></i> {% user_display user %}
                    </a></li>
            {% endif %}



        </ul>

    </nav>
      

    <div class="round_form">


        <div class="joker">
            <form action="details" method="POST" class="form" id="form1">
                {% csrf_token %}
            <div class="input source" > <input placeholder="Source" type="text" name="source" required autocomplete="off" id="automplete-1" ></div>
            <div class="input destination" ><input placeholder="Destination" type="text"  name="dest" required autocomplete="off" id="automplete-2"> </div>
            <div class="input timein"><input type="time" name="time"> </div>
            <!-- clock code -->

            <div class="input"><button class="btn" type="submit" name="query">submit</button> </div>
            <button type="submit" class="btn2" name="disp_all" >display All</button>
            </form>
        </div>


    </div>

  
    <div class="features">
        <h1         style="font-size:25px;    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;" ><center>Our_support</center></h1>
        <div class="alignRight">
            <div class="imageColumn box1">
               <!-- <span class="boxfea">
                    <i class="far fas-clock"></i>
                </span>-->
                <img style="width:233px; height:200px;" src="{% static 'images/privacy.png' %}">
                <b>
                    <h1 style="font-size:22px;">PRIVACY</h1>
                </b>
                <i>
                    <p> Stay worry less cause we respect and protect your details.
                    </p>
                </i>
            </div>
            <div class="imageColumn box2">

               <!-- <span class="boxfea">
                    <i class="fas fa-rupee-sign"></i>
                </span>-->
                <img style="width:233px; height:200px; " src="{% static 'images/goal.png' %}">
                <b>
                    <h1 style="font-size:22px;">GOAL</h1>
                </b>
                <i>
                    <p>Our main goal is to full-fill your requirement at all time.
                    </p>
                </i>
            </div>
            <div class="imageColumn box3">
            <img style="width:233px; height:200px;" src="{% static 'images/ease_effort2.jpg' %}">
               <!-- <span class="boxfea"">
    <i class=" fas fa-user-shield"></i>
                </span>-->
                <b>
                    <h1 style="font-size:22px; margin-left:31px;">EASE-EFFORT</h1>
                </b>
                <i>
                    <p>Now ease yourself while we find you your service.</p>
                </i>
            </div>
            <div class="imageColumn box4">
            <img style="width:233px; height:200px;" src="{% static 'images/feedback.png' %}">
              <!--  <span class="boxfea">
        <i class=" fas fa-comments"></i>
                </span>-->
                <b>
                    <h1 style="font-size:22px; margin-left:31px;">FEED-BACK</h1>
                </b>
                <i>
                    <p>We accept feed-back from the users about their experience. </p>
                </i>
            </div>
        </div>
    </div>
    <div class="footer">

        <h1 style="font-size:25px;    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;">Follow us on</h1>
        <div class="imageColumn1">
            <p> Linked-in</p>
            <span style="color:#330099;">
                <i class="fab fa-linkedin"></i>
            </span>
        </div>
        <div class="imageColumn1">
            <p> Twitter </p>
            <span style="color:#3399ff;">
                <i class="fab fa-twitter"></i>
            </span>
        </div>
        <div class="imageColumn1">
            <p>Facebook </p>
            <span style="color:#0000cc;">
                <i class="fab fa-facebook-square"></i>
            </span>
        </div>
        <div class="imageColumn1">
            <p>Instagram </p>
            <span style="color: lightpink;">
                <i class="fab fa-instagram"></i>
            </span>
        </div>
        <div class="imageColumn1">
            <p>Instagram </p>
            <span style="color:red;">
                <i class="fab fa-youtube"></i>
            </span>
        </div>
    </div>
</body>

</html>