{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href={% static 'style/thank4details1.css' %}>
    </head>
    <body>
       <div class="wrapper-1">
    <div class="wrapper-2">
      <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
      <h1>We will reply you shortly.</h1>
     

   
         
        <div class="button">
          <a href={% url 'home' %}> <button type="submit">Home</button></a>
        </div>
      </div>
        </div>
       
       
       
       
    </body>