
<html>
{% load  static  %}
<head><title>some text</title>
   
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'style/thank4details1.css' %}>
    </head>
    <body>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
      <h1>Thank you!</h1>
      <p>for your input, we will look through</p>
      <p>once your input is received. </p>
  
      <a style="font-size:40px;color:red" href ="{% url 'home' %}">Home</a>

    </div>

   
  </div>  
       
       
       
       
    </body>
</html>